.container {
    flex: 1;
    border: 1px solid red;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  


h1 {
    font-size: 2rem;
    font-weight: 900;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.header{
    padding: 0 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    border: 1px solid green;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
}


footer{
    padding: 0 1rem;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    background-color: #fff;
}

body [src="./img/icon.svg"] {
    width: 3rem;
    height: auto;
}

footer [src="./img/github.svg"]{
    width: 2rem;
    height: auto;
}

footer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #000;
}

footer a:hover {
    color: #000;
    text-decoration: underline;
}

footer a:focus [src="./img/github.svg"],
footer a:hover [src="./img/github.svg"] {
    filter: invert(0.5);
}

footer a:focus {
    color: #3E75C3;
}

footer p {
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    padding: 1rem;
    height: min-content;
}

.content .books{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: min-content;
    gap: 1rem;
    padding: 1rem;
    padding-top: 0.7rem;
    justify-content: center;
}