.container {
    flex: 1;
    border: 1px solid red;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    background-color: #dddcdcbc;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  


h1 {
    font-size: 2rem;
    font-weight: 900;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    align-items: center;
    border: 1px solid green;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: #000;
}


footer{
    padding: 0 1rem;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    background-color: #fff;
    padding: 0.5rem 0;
}

body [src="./img/icon.svg"] {
    width: 3rem;
    height: auto;
}

footer [src="./img/github.svg"]{
    width: 2rem;
    height: auto;
}

footer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #000;
}

footer a:hover {
    color: #000;
    text-decoration: underline;
}

footer a:focus [src="./img/github.svg"],
footer a:hover [src="./img/github.svg"] {
    filter: invert(0.5);
}

footer a:focus {
    color: #3E75C3;
}

footer a {
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: rgb(51, 51, 51);
}

.content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    padding: 1rem;
    height: min-content;
}

.content p {
    padding-left: 1rem;
    justify-self: start;
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(51, 51, 51);
    margin: 0;
    text-align: end;
}

.content .books{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: min-content;
    gap: 1rem;
    padding: 1rem;
    padding-top: 0.7rem;
    justify-content: center;
}

.card {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: stretch;
    border-radius: 15px;
    padding: 0px;
    background-color: white;
    color: rgb(51, 51, 51);
}

.card .color-pane {
        width: 0.5rem;
        min-width: 0.5rem;
        max-width: 0.5rem;
        padding: 0;
        background-color: rgb(235, 165, 15);
        border-radius: 15px 0 0 15px;
}

.card .card-content {
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    gap: 0.5rem;
    padding: 15px;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: left;
}

.card .card-content * {
    margin: 0;
    
}

.card .card-content h2 {
    
    font-size: 2rem;
    font-weight: 900;
    color: black;
}

.card .card-content h3 {
    color: rgb(51, 51, 51);
    opacity: 0.7;
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 0;
}

.card .card-content .description {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 0.5rem;
    
}

.card .card-content .description h3 {
    font-size: 1rem;
    font-weight: 900;
    color: rgb(51, 51, 51);
}

button{
    margin-right: 4rem;
}

#popupFormContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
  
#popupForm {
    border: 6px outset rgba(28,110,164,0.72);
    -webkit-box-shadow: 8px 6px 14px 0px rgba(0,0,0,0.69); 
    box-shadow: 8px 6px 14px 0px rgba(0,0,0,0.69);
    display: grid;
    grid-template-rows: min-content max-content min-content;
    align-items: stretch;
    position: absolute;
    gap: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    width: 300px;
    height: 500px;
    border-radius: 15px;
}

.popupLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#popupForm img {
    width: 4rem;
    height: auto;
}

#popupForm h2 {
    font-size: 2rem;
    font-weight: 900;
    color: #000;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

form {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    gap: 1.5rem
}

form .unique-box{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding-left: 0.5rem;
}
form .normal-box {
    display: flex;
    gap: 0.5rem;
    padding-bottom: 1rem;
    align-items: center;
    padding-left: 0.5rem;
}

#pages-error {
    min-height: 19px;
    padding-left: 12px;
    padding-top: 4px;
}

form .pagesBox {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding-bottom: 1rem;
}
form div label {
    position: absolute;
    color: rgba(68, 68, 68, 0.6);
    padding: 10px;
}

form div input:focus ~ label {
    transition: 0.4s;
    transform: translateY(-1.8rem) scale(0.93) translateX(-10%);
    color: #000000;
}

form div input {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    height: 20px;
    border-radius: 4px;
    border: 0;
    border-bottom: 2px solid #000000;
    padding: 6px 6px 6px 10px;
    margin-top: 5px;
    background-color: #dddcdcbc;
    transition: all .5s ease-in;
    color: #000000;
    width: 85%;
}

form div input:focus {
    border-bottom: 2px solid #317dad;
    outline: none;
}

form div input:placeholder-shown {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

input[type]:not(:placeholder-shown):not(:focus):valid{
    border-bottom: 2px solid #31ad69;    
}

input[type]:not(:placeholder-shown):not(:focus):valid+.tick{
    display: block;
}


.tick {
    display: none;
    color: #31ad69;
    font-size: 20px;
    transition: all .5s ease-in;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.btn {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 0.5rem;
}

#addBookButton,
#closeFormButton{
    margin: 0;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 15px;
    background-color: #317dad;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: all .5s ease-in;
}

button:hover {
    background-color: #3e75c3;
}

button:focus {
    background-color: #3e75c3;
    outline: none;
}

button:active {
    background-color: #3e75c3;
    transform: scale(0.95);
}



#closeFormButton {
    margin-top: 10px;
}
  
#openFormButton {
    margin-top: 20px;
}
  